video.back-video {
    filter: brightness(40%) blur(10px);
}

.intro-right {
    display: flex;
    align-self: end;
}

p {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand {
    font-size: 1.4rem;
}

h1 {
    margin-bottom: 0;
}

h2,
h3 {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-item {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.navbar-brand {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 900;
    font-style: normal;
}

figure.effect-julia>p {
    background: none;
    color: #ffffff;
    margin: 0;
    padding: 1rem 1rem;
    transform: none;
    text-align: left;
}

@media (max-width: 600px) {

    .intro-left,
    .content-pad {
        padding: 20px 25px;
    }
}