video.back-video {
    filter: brightness(40%) blur(10px);
}

.intro-right {
    display: flex;
    align-self: end;
}

p {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2,
h3 {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.nav-item {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar-brand {
    font-family: "zen-kaku-gothic-new", sans-serif;
    font-weight: 900;
    font-style: normal;
}